
@font-face {
    font-family: 'Droid Arabic Kufi';
    src: url('/fonts/droid.arabic.kufi_downloadsoftware.ir_-webfont.woff2') format('woff2'),
         url('/fonts/droid.arabic.kufi_downloadsoftware.ir_-webfont.woff') format('woff');

}

/* Global Styles */

*{

    font-family: 'Noto Kufi Arabic', sans-serif;
    direction: rtl;

}

body {
    width:100%;
overflow-x:hidden;
margin: 0;
padding: 0;
box-sizing: border-box;

}

:root{
    --color--1 : #13385a;
    --color--2 : #d1d1d1;
    --color--3 : #b3d342;
    --color--4 : #00dbd3;
}



ul {
    list-style-type: none;
}

input , select , textarea {
    box-shadow: none !important;
}

.form-group {
    margin-top: 15px;
}

.submitBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    text-decoration: none;
    padding: 10px 40px;
    border: none !important;
    border-radius: 5px;
    background-color: rgb(19, 56, 90 , .8);
    color: #fff;
    transition: 0.3s ease;
}

.submitBtn:hover {
    color: #fff;
    background-color: rgb(19, 56, 90);
}

.scrollTop {
    position: fixed;
    bottom: -60px;
    right: 15px;
    background-color: var(--color--1);
    width: 60px;
    height: 60px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 50%;
    border: 1px solid #fff;
    z-index: 4;
    transition: 0.3s ease-in;
}
.scrollTop.show {
    bottom: 15px;
}
/* Global Styles */



/* Header Styles */
nav {
    position: relative;
    background-image: url('../images/back.jpg');
    background-position:  center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 600px;
    width: 100%;
}




nav .header-overlay , .second-section .overlay ,
.fourth-section .overlay{
    background-color: rgb(19, 56, 90 , 60%);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}
.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

 .header .logo img{
    width: auto;
    height: 100px;
} 

.menu-icon {
    margin-left: 15px;
    cursor: pointer;
    direction: ltr;
    display: none;
}
.menu-icon span {
    position: relative;
    display: block;
    margin-bottom: 5px;
    width: 25px;
    height: 3px;
    background-color: var(--color--4);
    border-radius: 10px;
    transition: 0.4s ease-in-out; 
}

.menu-icon span:nth-child(2){
    width: 18px;
    opacity: .6;

}

.menu-icon.toggled span:nth-child(2){
    opacity: 0;
    visibility: hidden;
}

.menu-icon.toggled span:nth-child(1){
    top: 10px;
    transform: rotate(45deg);
}
.menu-icon.toggled span:nth-child(3){
    top: -6px;
    transform: rotate(-45deg);
}


.small-screen-links {
    position: absolute;
    background-color: #fff;
    max-height: 0;
    width: 100%;
    z-index: 3;
    transition: 0.4s ease;
    overflow: hidden;
}

.small-screen-links.toggled{
max-height: 250px;
}

.small-screen-links ul {
    padding: 0;
}

.small-screen-links ul li {
    border-top: 1px solid #e5e5e5;
    padding: 8px;
}


.small-screen-links ul li a {
    text-decoration: none;
    color: #222;
}
.small-screen-links ul li a.active {
    color: #00dbd3;
}

.header .nav-links ul {
    display: flex;
    margin-left: 50px;
    white-space: nowrap;
}  

 .header .nav-links ul li:not(:last-child) {
    margin-left:25px;
}

.header .nav-links ul li a {
    position: relative;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Noto Kufi Arabic', sans-serif;
    font-weight: normal;
    color: #fff;
}

.header .nav-links ul li a.active{
    position: relative;
}
.header .nav-links ul li a.active::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--color--4);
}
.header .nav-links ul li a::after{
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    left: 0;
    bottom: 0;
    background-color: var(--color--4);

    transition: 0.3s;
}

 .nav-links ul li a:hover::after{
    width: 100%;
    right: 0;
} 




 nav .container{
    position: relative;
    z-index: 2;
}

nav .container {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav .container .header-text  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
nav .container .header-text h3 {
color: #fff;
 font-weight: 700;
 font-size: 30px;
 line-height: 1.4;
 width: 90%;
 margin: 0 auto;
 text-align: center;
 font-family: "Droid Arabic Kufi" , sans-serif;

}
.container .header-text-divider {
    margin: 30px 0;
    display: block;
    width: 60px;
}
.container .header-text-divider span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--color--4);
}
.container .name {
    margin: 0 0 30px 0;
    color: #fff;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}



nav .container .trackBtn {
    padding: 12px 35px;
    border-radius: 20px;
    border: none;
    background-color: rgb(0, 219, 211 , .5);
    color: #fff;
    font-weight: 600;
    transition: 0.3s ease;
}
nav .container .trackBtn:hover {
    background-color: rgb(0, 219, 211 , .8);

} 
/* Header Styles */



/* First Section */
.first-section {
    margin : 30px 0 120px 0;

}
.testimonial-content p{
 margin-right: 300px;   
 font-weight: 500;
 font-size: 22px;
}



.first-section .services-container {
    margin-top: 200px;
    text-align: center;
}
.first-section .services-container span {
    position: relative;
    font-size: 38px;
    font-weight: 700;
}

.first-section .services-container span::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: var(--color--4);

}

.first-section .services-container .services-content p {
    margin: 30px 0 50px 0;
    font-size: 20px;
    font-weight: 700;
    text-align: start;
}



.service-card .service-image img {
    width: 88%;
    filter: brightness( 103% ) contrast( 96% ) saturate( 81% ) blur( 0px ) hue-rotate( 336deg );
    border-radius: 4px 4px 4px 4px;
    box-shadow: 10px 10px 0px 1px rgb(0 , 0 , 0 ,15%);
}

.service-card  {
    margin-bottom: 25px;
}
.service-card  .service-title p {
    margin-top: 45px;
    font-size: 18px;
    font-weight: 700;
}
.service-card  .service-detail p {
    max-width: 80%;
    margin: 0 auto;
}


.service-card .seeMore {
    margin-top: 20px;
    padding: 12px 50px;
    border-radius: 20px;
    border: none;
    background-color:rgb(19, 56, 90 , .8);
    font-weight: 600;
    transition: 0.3s ease;
    white-space: nowrap;
}

.service-card .seeMore a {
    text-decoration: none;
    color: #fff;
}

.service-card .seeMore:hover {
    background-color:rgb(19, 56, 90);

}

.service-card .seeMore i{
    margin-right: 8px;
    transition: 0.3s;
}
.service-card .seeMore:hover i {
    animation: move .8s infinite;
}

@keyframes move {
    0%{
        transform: translateX(0);

    } 
    50% {
    transform: translateX(-5px);

    }
    100% {
    transform: translateX(0);

    }
}

/* First Section */


/* Second Section */
.second-section {
    position: relative;
    height: 600px;
    background-image: url('../images/back-2.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


.second-section .container {
    position: relative;
    z-index: 2;
    color: #fff;
    padding-left: 50%;
    
}
.btnHolder{
    text-align: end !important;
}

.btnHolder .moreBtn{    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 150px;
    padding: 15px 40px;
    border: none;
    border-radius: 20px;
    font-weight: 600;
    background-color: rgb(0, 219, 211 , .7);
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
}

.btnHolder .moreBtn i {
    margin-right: 7px;
}
.btnHolder .moreBtn:hover{
    background-color: rgb(0, 219, 211);
}
.btnHolder .moreBtn:hover i {
    animation: move .8s infinite;
}

.second-section .container .header p {
    margin-top: 160px;
    font-size: 38px;
    font-weight: 600;
}

.second-section .container .container-text p {
    position: relative;
    /* width: 50%; */
    line-height: 1.8;

}

.second-section .container .container-text p::before{
    content: '';
    position: absolute;
    width: 40px;
    height: 3px;
    background-color: var(--color--4);
    right: 0;
    top: -10px;
}
/* Second Section */


/* Third Section */
.third-section {
    padding: 200px 300px;
}

.third-section p {
    font-size: 34px;
    font-weight: 700;
}

/* Third Section */

/* Fourth Section */

.fourth-section {
    position: relative;
    height: 350px;
    background-image: url('../images/back-3.jpg');
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}


.fourth-section .container {
    position: relative;
    z-index: 2;
}
.fourth-section .container p {
    color: #fff;    
    font-size: 30px;
    padding: 0 180px;
    font-weight: 700;
}



/* Fourth Section */


/* Last Section */

.last-section {
    margin-top: 80px;
}


.last-section .section-header p {
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: 700;
}




/* Last Section */



/* Footer */

footer .first-header {
    height: 180px;
    background-color: #13385a;
    display: flex;
    align-items: center;
}

footer .first-header p {
    color: #fff;
    font-size: 18px;
}
footer .second-header {
    height: 80px;
    background-color: #d1d1d1;
    display: flex;
    align-items: center;
}

footer .second-header p {
    font-size: 18px;
}

/* Footer */


/* Media Query */


@media (max-width : 768px) {
    .last-section  .paying-methods img {
        width: 400px;
    }
    .last-section .section-header p {
        font-size: 26px;
    }
}

@media (max-width : 568px) {
    .last-section  .paying-methods img {
        width: 300px;
    }

    
}

@media (max-width : 768px) {

}


@media (max-width : 968px) {
    .third-section{
        padding: 40px;
    }
    .second-section {
        height: 800px;
    }
    .second-section .container {
        padding-left:30% ;
    }
    .btnHolder{
        text-align: start !important;
    }

    .testimonial-content p {
        margin-right: 0;
    }
}




@media (max-width : 768px) {
    .nav-links {
        display: none;
    }

    nav .header {
        background-color: #fff;
        height: 60px;
    }
    .menu-icon {
        display: block;
    }

    .first-section .services-container .services-content p {
        font-size: 18px;
    }
    .container .name {
        font-size: 35px;
    }

    nav .container .header-text h3 {
        font-size: 26px;
    }

    .first-section .services-container span{
        font-size: 32px;
    }
    .second-section .container .header p {
        font-size: 30px;
    }

    .fourth-section .container p {
        padding: 0;
        font-size: 22px;
    }
}

@media (max-width : 568px) {
    .third-section p {
        font-size: 22px;
    }


}

/* Media Query */